.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.get-weather {
    max-width: 50%;
    height: 30px;
}

.city__input {
    width: 500px;
    height: 35px;
}